body{
    background-color: aquamarine !important;
}

.navText{
    color: white !important;
}

.contenido{
    margin-top: 100px !important;
    padding: 10px;
}

.componenteEntregables{
    background-color: aquamarine;
}

