body{
    background-color: aquamarine !important;
}

.navText{
    color: white !important;
}

.contenido{
    margin-top: 100px !important;
    padding: 10px;
}

.componenteEntregables{
    background-color: aquamarine;
}

.card-image{
    background-position: center;
    text-align: center !important;

}

.containerForm{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    background-image: url("../images/ingredientes.jpg");
}


.formLogin{
    font-weight: bold;
    background: linear-gradient(45deg, rgb(1, 175, 100) 0%, rgb(85, 255, 0) 100%);
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 380px;
    height: 400px;

}
.formLogin div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLogin{ 
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    width: 90%;
}

/*! uso un punto para hacer referencia a una clase
* uso un # para hacer referencia a un id */

#tituloTablaPedidos{
    background-color: rgb(34, 34,34);
    color: white;
}

#tituloTablaPedidos th{
    padding: 10px;
}

#tableInfoPedidos tr th{
    padding-right: 50px;
}

.btnEliminar a{
    border-radius: 15px !important;
    color: white !important;
    text-decoration: none !important;
}