<div>
    {% extends "MercadoApp/inicio.html" %}
    {% load static %}
        <!--div>
        <p>Si aún no estás registrado, regístrate</p>
        <input type = "submit" value="Registro">   
        <p>Si ya estás registrado inicia con tu email</p>
        <input type = "submit" value="Inicio"> 
        </div-->    
    
        {% block contenidoQueCambia %}
            <div class="formClienteFormulario">
            <p>Clientes Disponibles</p>
            <table>
                <tr id="tituloTablaClientes">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Edad</th> 
                </tr>
            </table>
                {% block clienteFormulario %}
                {% endblock %} 
            </div>
            
            <div class="formGetCliente">
                <p></p>
                
                {% block getCliente %}
                {% endblock %}
            </div>
        {% endblock %}
</div>