<div>
    {% extends "MercadoApp/inicio.html" %}
    {% load static %}
        <!--div>
        <p>Si aún no estás registrado, regístrate</p>
        <input type = "submit" value="Registro">   
        <p>Si ya estás registrado inicia con tu email</p>
        <input type = "submit" value="Inicio"> 
        </div-->    
    
        {% block contenidoQueCambia %}
            <div class="formClienteFormulario">
            <p>Clientes Disponibles</p>
            <table id="tableInfoClientes">
                <tr id="tituloTablaClientes">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Edad</th>
                    
                </tr>
                <tr>
                    {% for cliente in Clientes %}
                        <tr>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.apellido}}</td>
                            <td>{{cliente.email}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.edad}}</td> 
                            <td><button class="btn btn-danger btnEliminar"><a href="{% url 'eliminarCliente' cliente.nombre %}" >x</a></button></td>
                            <td><button class="btn btn-warning btnEditar"><a href="{% url 'editarCliente' cliente.nombre %}" >Editar</a></button></td>
                            <td><button class="btn btn-light btnNuevoCliente"><a href="{% url 'clienteFormulario' %}" >Nuevo</a></button></td>
                        </tr>
                        
                    {% endfor%}
                    
                </tr>
            </table>
                {% block clienteFormulario %}
                {% endblock %} 
            </div>
            
            <div class="formGetCliente">
                <p></p>
                
                {% block getCliente %}
                {% endblock %}
            </div>
        {% endblock %}
</div>