<!--API django para el uso de un formulario, en vez de crear el formulario con placeholder como hicimos en clienteFormulario,
usamos una API de django donde el formulario ya viene predeterminado-->
<div>
    {% extends "MercadoApp/Cliente.html" %}
    {% load static %}

        {% block clienteFormulario %}
    
        <form action="/MercadoApp/editarCliente/{{nombre}}" method="post"> {% csrf_token %}
            <table>
                {{ miFormulario.as_table }}
            </table>
            <input class="btn btn-primary" type="submit" value="Enviar"><a href="{% url 'clienteFormulario' cliente.nombre %}">
            
        </form>
        {% endblock %}
</div>