<div>
    {% extends "MercadoApp/inicio.html" %}
    {% load static %}
    
    
        {% block contenidoQueCambia %}
        <div class="componenteEntregables">
            <h4>Elige tus productos...</h4>
            <table>
            <th><div class="card" style="width: 18rem; height: 22rem;" float="left">
                <img src="{% static 'MercadoApp/images/empanadas.jpg' %}" class="card-img-top" alt="" style="height: 9rem;"/>
                <div class="card-body">
                    <h4 class="card-title">Frescos</h4>
                    <p class="card-text"> Menú del día ............ $ 200 </p> <a href="{% url 'Pedidos' %}" class="btn btn-primary">Comprar</a>
                    <p class="card-text"> Empanadas ............. $  60 c/u </p> <a href="{% url 'Pedidos' %}" class="btn btn-primary">Comprar</a>
                    
                </div>
            </div></th>
            <th><div class="card" style="width: 18rem; height: 22rem;">
                <img src="{% static 'MercadoApp/images/pizza.jpg' %}" class="card-img-top" alt="..." style="height: 9rem;">
                <div class="card-body">
                    <h4 class="card-title">Congelados</h4>
                    <p class="card-text">Tartas ............... $ 400 </p><a href="{% url 'Pedidos' %}" class="btn btn-primary">Comprar</a>
                    <p class="card-text">Empanadas ....... $ 40 c/u</p><a href="{% url 'Pedidos' %}" class="btn btn-primary">Comprar</a>
                    
                    
                </div>
            </div></th>
            </table>
                
            
        </div>

        <hr>
        {% for comment in post.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>Dejanos tus comentarios :)</p>
        {% endfor %}
        
        <form method="post"> {% csrf_token %}
            
            {{ form.as_table }}
            <input class="btn btn-primary" type = "submit" value="Enviar">
        </form>   
        {% endblock %}
</div>