<div>
    {% extends "MercadoApp/inicio.html" %}
    {% load static %}
    
    
        {% block contenidoQueCambia %}
        <div class="componenteEntregables">
            <p>Elige tus productos...</p>
            
            <div class="card" style="width: 18rem;" float="left">
                <img src="{% static 'MercadoApp/images/empanadas.jpg' %}" class="card-img-top" alt=""/>
                <div class="card-body">
                    <h5 class="card-title">Frescos</h5>
                    <p class="card-text"> Menú del día </p> <a href="{% url 'Pedidos' %}" class="btn btn-primary">Comprar (No hay página aún)</a>
                    <p class="card-text"> Empanadas </p> <a href="{% url 'Pedidos' %}" class="btn btn-primary">Comprar (No hay página aún)</a>
                    
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'MercadoApp/images/pizza.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Congelados</h5>
                    <p class="card-text">Tartas</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    
                </div>
            </div>
                
            
        </div>

        <hr>
        {% for comment in post.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>Dejanos tus comentarios :)</p>
        {% endfor %}
        
        <form action="/MercadoApp/Productos/" method="post"> {% csrf_token %}
            <!--table>
                {{ miFormulario.as_table }}
            </table-->
            
            <input placeholder="Post" type = "text" name="text" required>
            
            <input class="btn btn-primary" type = "submit" value="Enviar">
        </form>   
        {% endblock %}
</div>